<div class="backdrop is-hidden" data-modal>
  <div class="modal contact__wrapper">
    <button type="button" class="modal-close-btn" data-modal-close>
      <img src="./images/Union.svg" alt="Close">
    </button>
    <p class="contact__header">Contact Us</p>

    <form action="#" class="contact__form" autocomplete="off">
      <div class="form__group-name">
        <div class="form__group">
          <input type="text" id="firstName" placeholder="" required>
          <label for="firstName">First Name</label>
        </div>
        <div class="form__group">
          <input type="text" id="lastName" placeholder="" required>
          <label for="lastName">Last Name</label>
        </div>
      </div>
      <div class="form__group">
        <input type="email" id="email" placeholder="" required>
        <label for="email">Your email</label>
      </div>
      <div class="form__group">
        <input type="text" id="companyName" placeholder="">
        <label for="companyName">Company name (optional)</label>
      </div>
      <div class="form__group">
        <input type="text" id="enquiry" placeholder=""></input>
        <label for="enquiry">Enquiry</label>
      </div>
      <div class="checkbox__group">
        <input class="checkbox__input visually-hidden" type="checkbox" id="terms" required>
        <label class="checkbox__label" for="terms">I agree to the &nbsp;<a href="#">Terms of Use</a>&nbsp; and &nbsp;<a href="#">Privacy Policy</a></label>
      </div>
      <button type="submit" class="btn btn-contact-form">Send</button>
    </form>

  </div>
</div>

