<header class="page-header">
  <div class="container header-container">

    <a href="./index.html" class="logo">
      <picture>
        <source srcset="./images/Logo-AIE1-desktop-@1x.png 1x, ./images/Logo-AIE1-desktop-@2x.png 2x"
        media="(min-width: 768px)" type="image/png">
        <source srcset="./images/Logo-AIE1-mobile-@1x.png 1x, ./images/Logo-AIE1-mobile-@2x.png 2x" media="(max-width: 767px)"
        type="image/png">
        <img class="logo" src="./images/Logo-AIE1-mobile-@1x.png" alt="logo">
      </picture>
    </a>

    <nav class="navigation">
      <ul class="nav__list">
        <li><a lang="fr" href="#">Nous découvrir</a></li>
        <li><a lang="fr" href="#">Nos activités</a></li>
        <li><a lang="fr" href="#">Nos actualités</a></li>
        <li><a lang="fr" href="#">Nos adresses</a></li>
        <li><a lang="fr" href="#">Postuler</a></li>
      </ul>
      <a href="tel:+0596763818" class="nav__phone">
        <img src="./images/phone.svg" alt="number_phone">
        0596 76 38 18
        </a>
    </nav>

  </div>
</header>