<section>
  <div class="container">
    <h2 class="title">What We Can do</h2>
    <p class="subtitle">Excepteur sint occaecat cupidatat non proident</p>
    <ul class="advantages__list">
      <li>
        <svg width="60" height="60">
          <use href="./images/Icon.svg"></use>
        </svg>
        <p>Web Development</p>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
      </li>
      <li>
        <svg width="60" height="60">
          <use href="./images/Icon-1.svg"></use>
        </svg>
        <p>Search Engine Optimization</p>
        <p>Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum</p>
      </li>
      <li>
        <svg width="60" height="60">
          <use href="./images/Icon-2.svg"></use>
        </svg>
        <p>Web Design</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus.</p>
      </li>
    </ul>
  </div>
</section>