<div>
  <button>
    <svg width="24" height="24">
      <use href="./images/Union.svg"></use>
    </svg>
  </button>
  <form action="" method="post">
    <input type="text" value="firstName" id="firstName" placeholder="First Name" required>
    <label for="firstName">First Name</label>
    <input type="text" value="lastName" id="lastName" placeholder="Last Name" required>
    <label for="lastName">Last Name</label>
    <input type="email" value="email" id="email" placeholder="Your Email" required>
    <label for="email">Your Email</label>
    <input type="text" value="company" id="company" placeholder="Company name (optional)">
    <label for="company">Company name (optional)</label>
    <input type="text" value="enquiry" id="enquiry" placeholder="Enqiry">
    <label for="enquiry">Enqiry</label>
    <input type="text" name="agreement" id="agreement">
    <label for="agreement">I agree to the
      <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></label>
      <button type="submit">Send</button>
  </form>
</div>