<section class="questions">
  <div class="container questions__wrapper">
    <div class="questions__container">
      <h2 class="title">Frequently Asked Question</h2>
      <p class="title__label">Excepteur sint occaecat cupidatat non proident</p>
      <ul class="faq__wrapper">
        <li class="faq-item">
          <div class="faq-title" data-action="toggle">
            Sed ut perspiciatis unde omnis iste natus ?
            <span class="faq-icon">
              <img class="icon icon-closed" src="./images/plus.svg" alt="closed-icon" />
              <img class="icon icon-open" src="./images/minus.svg" alt="opened-icon" />
            </span>
          </div>
          <div class="faq-content">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <div class="faq-title" data-action="toggle">
            Temporibus autem quibusdam et aut ?
            <span class="faq-icon">
              <img class="icon icon-closed" src="./images/plus.svg" alt="closed-icon" />
              <img class="icon icon-open" src="./images/minus.svg" alt="opened-icon" />
            </span>
          </div>
          <div class="faq-content">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
            </p>
          </div>
        </li>
        <li class="faq-item">
          <div class="faq-title" data-action="toggle">
            Sed ut perspiciatis unde omnis iste natus ?
            <span class="faq-icon">
              <img class="icon icon-closed" src="./images/plus.svg" alt="closed-icon" />
              <img class="icon icon-open" src="./images/minus.svg" alt="opened-icon" />
            </span>
          </div>
          <div class="faq-content">
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.
            </p>
          </div>
        </li>
      </ul>
    </div>

    <div class="questions__bgd">
      <div class="questions__frame"></div>
      <img src="./images/Saly-13 1-@1x.png" alt="support-specialist" class="questions__img">
    </div>
    
  </div>
</section>