<section>
  <div class="container">
    <div>
      <h2 class="title">Frequently Asked Question</h2>
      <p class="title__label">Excepteur sint occaecat cupidatat non proident</p>
      <p>Sed ut perspiciatis unde omnis iste natus ?</p>
      <p>Temporibus autem quibusdam et aut ?</p>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
      <p>Sed ut perspiciatis unde omnis iste natus ?</p>
    </div>
    <div>
      <img src="./images/Saly-13 1-@1x.png" alt="">
    </div>
  </div>
</section>