<section>
  <div class="container">
    <h2 class="title">Testimonials</h2>
    <p class="subtitle">Excepteur sint occaecat cupidatat non proident</p>
    <ul>
      <li>
        <p>Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.</p>
        <img src="./images/Avatar001.jpg" alt="user-avatar">
        <p>Dianne Russell</p>
        <p>Marketing Coordinator</p>
      </li>
      <li>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        <img src="./images/Avatar001.jpg" alt="user-avatar">
        <p>Robert Johnson</p>
        <p>Graphic Designer</p>
      </li>
      <li>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        <img src="./images/Avatar001.jpg" alt="user-avatar">
        <p>Floyd Miles</p>
        <p>President of Sales</p>
      </li>
    </ul>
  </div>
</section>