<section>
  <div class="container testimonials__wrapper">
    <h2 class="title">Testimonials</h2>
    <p class="title__label">Excepteur sint occaecat cupidatat non proident</p>
    <div class="swiper">
      <ul class="swiper-wrapper reviews__container">
        <li class="swiper-slide review__card">
          <div class="review__wrapper">
            <p class="review__text">Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.</p>
            <div class="review__descr">
              <img src="./images/Avatar001.jpg" alt="user-avatar">
              <div class="review__user">
                <p>Dianne Russell</p>
                <p>Marketing Coordinator</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide review__card">
          <div class="review__wrapper">
            <p class="review__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
            <div class="review__descr">
              <img src="./images/Avatar002.png" alt="user-avatar">
              <div class="review__user">
                <p>Robert Johnson</p>
                <p>Graphic Designer</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide review__card">
          <div class="review__wrapper">
            <p class="review__text">Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <div class="review__descr">
              <img src="./images/Avatar003.png" alt="user-avatar">
              <div class="review__user">
                <p>Floyd Miles</p>
                <p>President of Sales</p>
              </div>
            </div>
          </div>
        </li>

        <li class="swiper-slide review__card">
          <div class="review__wrapper">
            <p class="review__text">Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur.</p>
            <div class="review__descr">
              <img src="./images/Avatar001.jpg" alt="user-avatar">
              <div class="review__user">
                <p>Dianne Russell</p>
                <p>Marketing Coordinator</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide review__card">
          <div class="review__wrapper">
            <p class="review__text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
            <div class="review__descr">
              <img src="./images/Avatar002.png" alt="user-avatar">
              <div class="review__user">
                <p>Robert Johnson</p>
                <p>Graphic Designer</p>
              </div>
            </div>
          </div>
        </li>
        <li class="swiper-slide review__card">
          <div class="review__wrapper">
            <p class="review__text">Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <div class="review__descr">
              <img src="./images/Avatar003.png" alt="user-avatar">
              <div class="review__user">
                <p>Floyd Miles</p>
                <p>President of Sales</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>