@import '../base/mixins';

.title{
  @include font-poppins(600);
  font-size: 3.200rem;
  line-height: 1.31;
  color: $black-text-color;
}

.title__label{
  padding-top: 6px;

  @include font-poppins(400);
  font-size: 1.400rem;
  color: #999999;
}

.main-title{
  max-width: 462px;

  @include font-poppins(600);
  font-size: 3.200rem;
  line-height: 1.37;
  text-align: center;
  color: $white-text-color;
}